<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the initial settings.xml of DS -->
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- This seems to work only if referred as user settings not global settings -->
    <offline>false</offline>
    <!-- To prevent any external access -->
    <mirrors/>
    <pluginGroups>
        <pluginGroup>com.odcgroup.maven.plugin</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>rido-tsoftware-common</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>DefaultRepository</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <tafjHome>${env.TAFJ_HOME}</tafjHome>
            </properties>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Central repository (redefinition)</name>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <name>Central repository (redefinition)</name>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <url>https://repo1.maven.org/maven2</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>rido-tsoftware-common</id>
            <repositories>
                <repository>
                    <id>rido-tsoftware-common</id>
                    <url>https://rido-546505995906.d.codeartifact.us-west-2.amazonaws.com/maven/tsoftware-common/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>DefaultRepository</activeProfile>
    </activeProfiles>
</settings>

